.infobox{
    background-color: var(--grey-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-width: 375px;
    height: 160px;
    border-radius: 5px;
}

.infobox__icon{
    border-radius: 999px !important;
    border-color: var(--blue-color);
    color: var(--blue-color);
    margin-top: 20px;
}

.infobox__text{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 980px){
    .infobox{
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
    }
}

.infobox__line{
    width: 100px;
    height: 1px;
    margin-top: 5px;
    background-color: var(--blue-color);
}