.infobox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 230px;
    background: white;
    box-shadow: 3px 3px 10px 0px var(--grey-color);
    border-radius: 5px;
}
.infobox__icon{
    border-radius: 99% !important;
    color: var(--blue-color);
    margin-top: 20px;
}
.infobox p{
    padding: 20px 10px;
    text-align: center;
    color: black;
}
.infobox::after{
    content: '';
    position: absolute;
    bottom: 30px;
    left: 25%;
    width: 50%;
    height: 1px;
    background-color: var(--yellow-color);
}

@media screen and (max-width: 768px){
    .infobox{
        width: 75%;
        height: 180px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 425px){
    .infobox{
        width: 80%;
        height: 200px;
        margin-bottom: 20px;
    }
    .infobox::after{
        bottom: 20px;
    }
}