.pricebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 245px;
}
@media screen and (max-width: 980px) {
  .pricebox {
    margin: 10px 30px;
  }
}
.pricebox h3 {
  align-self: center;
  padding: 20px 0px;
  font-size: 25px;
  color: var(--blue-color);
}

/* round image */
.pricebox__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 99%;
  background-image: url(../../images/icons-00.jpg);
  background-size: cover;
}
.pricebox__img:hover {
  animation-name: rotate;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

/* price + 'paid monthly' */
.pricebox__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  font-size: 20px;
  color: dimgray;
}
.pricebox__price > p:nth-child(1) {
  font-size: 20px;
}
.pricebox__price > p:nth-child(2) {
    font-size: 15px;
  }

/* prices list of benefits */
.pricebox__list {
  width: 100%;
  padding-bottom: 20px;
}
.pricebox__list li {
  padding: 5px;
  font-size: 17px;
}

/* Removing default bullets */
ul {
  list-style: none;
}
ul li::before {
  content: "\2022"; /* Code/unicode for a bullet */
  color: var(--yellow-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
