#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  padding: 30px 0 40px 0;
}
#about h2{
  border-bottom: solid 2px var(--yellow-color);
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--secondary-font);
  color: var(--blue-color);
}
.about__text p{
  line-height: 1.6;
  text-align: center;
  font-weight: 500;
  padding: 20px 30px 40px 30px;
}
.about__infoBoxes{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .about__infoBoxes{
    flex-direction: column;
    align-items: center;
  }
}