.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* service header */
.services > h2{
    font-size: 40px;
    margin-bottom: 5px;
}

/* Tabs */
.services__tabs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e3e3e3;
}
.services__tabs > button{
    height: 40px;
    width: 140px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    white-space: nowrap;
    color: var(--yellow-color);
    background-color: transparent;
}
.services__tabs> button:hover{
    color: white;
    background-color: darkgrey;
    cursor: pointer;
    transition: background-color .2s ease-in;
}
.services__tabs> button:focus{
    outline: none;
    color: white;
    background-color: darkgrey;
}


.services__info{
    width: 85%;
    padding: 30px;
}
/* information card */
.services__infoCard{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 980px){
    .services__infoCard{
        flex-direction: column;
        align-items: center;
    }
}

/* info card round image */
.services__img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    transition: .2s ease-out;
}
.services__img > img{
    object-fit: contain;
    height: 350px;
}
@media screen and (max-width: 980px){
    .services__img{
        width: 200px;
        height: 200px;
    }
    .services__img > img{
        height: 200px;
    }
}

/* info card text section */
.services__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-bottom: 0;
}
.services__text > h3{
    margin-bottom: 10px;
}
.services__text > ul{
    margin-bottom: 20px;
    font-size: 18px;;
    color: var(--blue-color);
}
.services__text > button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: var(--yellow-color);
}
@media screen and (max-width: 980px){
    .services__text{
        align-items: center;
    }
    .services__text > h3{
        text-align: center;
    }
}