.training{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.training > h2{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.training__content{
    display: flex;
    padding: 15px;
}
.training__content >img{
    object-fit: contain;
}
.training__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 25px;
}

@media screen and (max-width: 980px){
    .training__content{
        flex-direction: column;
        align-items: center;
    }
    .training__content > img{
        width: 300px;
    }
    .training__text > p{
        text-align: center;
        padding-bottom: 20px;
    }
}